.container {
  background: var(--bg-light);
  color: var(--color-dark);
  position: fixed;
  bottom: 5em;
  right: 1em;
  z-index: 8;
  border-radius: 47px;
  transition: all 450ms;
  z-index: 30;
}

.controlBtn {
  width: 153px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  cursor: pointer;
  border-radius: 47px;
  overflow: hidden;
  backdrop-filter: blur(35px);
  box-shadow: 0 0 2px gainsboro;
  font-weight: 700;
}

.controlBtn svg {
  width: 32px;
  height: 32px;
}

.controlBtn:hover {
  border: 1px solid var(--color-border);
}

.wrapper {
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: 30;
  background: rgba(50, 50, 86, 0.6);
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: auto;
  animation: fade 150ms forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.feedbackContainer {
  background: var(--bg-light);
  width: 100%;
  max-width: 52em;
  border-radius: 30px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6em;
  overflow: hidden;
  visibility: hidden;
  animation: scale 150ms forwards;
}

@keyframes scale {
  from {
    visibility: hidden;
    transform: scale(0.9);
  }

  to {
    visibility: visible;
    transform: scale(1);
  }
}

.thankYouModal {
  position: absolute;
  background: rgba(0, 0, 0, 0.849);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-dark);
  background: var(--bg-light);
  box-shadow: 2px 2px 16px gainsboro;
  border: 1px solid var(--color-border);
  padding: 1em;
  text-align: center;
  animation: move-in 300ms forwards cubic-bezier(.05, .86, .35, 1.45);
}

@keyframes move-in {
  from {
    transform: translateY(-2em);
  }

  to {
    transform: translateY(0);
  }
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 1em;
}

.closeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6em;
  background: var(--bg-light);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  padding: 14px;
}

.closeIcon:hover {
  background: var(--card-bg);
}

.closeIcon svg {
  stroke: var(--color-dark);
  width: 14px;
  height: 14px;
}

.mainText {
  font-size: 2rem;
  font-weight: 600;
  line-height: 48px;
}

.title {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

.description {
  width: 100%;
  font-size: 1rem;
}

.ratingsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.rating {
  flex: 1;
  width: 56.2px;
  height: 54.59px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 14px;
  border: 1px solid var(--color-border);
}

.rating:hover {
  background: var(--card-bg);
}

.rating.active {
  background: var(--color-accent-dark);
  color: var(--color-light);
}

.categories {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 10px;
  gap: 1em;
  border: 1px solid var(--color-border);
  overflow: auto;
}

.category {
  text-align: center;
  padding: 0.6em 1em;
  flex: 1;
  border-radius: 8px;
  border: 1px solid transparent;
}

.category:hover {
  background: var(--card-bg);
  cursor: pointer;
}

.category.active {
  background: var(--card-bg);
  color: var(--color-accent);
  border: 1px solid var(--color-border);
}

.textBox {
  width: 100%;
  border: 1px solid var(--color-border);
  padding: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6em;
  border-radius: 14px;
  margin-bottom: 2em;
}

.textBox textarea {
  width: 100%;
  min-height: 8em;
  resize: vertical;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  padding: 1em;
  background: var(--card-bg);
}

.textBox textarea.error {
  border: 1px solid var(--color-warning);
}

.textBox textarea:focus {
  outline: 1px solid var(--color-border-dark);
}

.sendBtn {
  width: 12em;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .rating {
    width: 36.2px;
    height: 34.59px;
    border-radius: 8px;
  }

  .ratingsContainer {
    padding: 1em;
    gap: 0.6em;
  }
}

@media screen and (max-width: 540px) {
  .feedbackContainer {
    padding: 1em;
    border-radius: 24px;
  }

  .ratingsContainer {
    padding: 0.4em;
    gap: 0.4em;
  }

  .rating,
  .category {
    font-size: 12px;
  }

  .controlBtn {
    font-size: 12px;
    width: 120px;
    height: 36px;
  }

  .controlBtn svg {
    width: 24px;
    height: 24px;
  }
}