.container {
  width: calc(100% - 2em);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 0;
  border-top: 1px solid var(--color-border);
}

.rights,
.protect {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  gap: 0.4em;
}

.protect {
  font-size: 1.2rem;
}

.protect div {
  margin-bottom: 0.2em;
}

.logo {
  width: 6em;
}

@media screen and (max-width: 768px) {

  .rights,
  .protect {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    justify-content: center;
    gap: 1em;
    width: calc(100% - 1em);
  }


  .rights,
  .protect {
    font-size: 0.875rem;
  }
}