.container {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #FFFFFF;
  border: 0.5px solid #2474EF;
  box-shadow: 29px 37px 39px rgba(93, 134, 194, 0.1);
  border-radius: 20px;
  padding: 2em 1em;
  gap: 1em;
  cursor: default;
  transition: all 300ms;

  background: var(--bg-light);
  border: 0.5px solid #C8D2DB;
  box-shadow: 5px 10px 39px rgba(93, 134, 194, 0.1);
  /* border-radius: 12px; */
}

.container:hover {
  box-shadow: none;
}

.wrapper {
  flex: 1;
}

.bgWrapper {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg {
  width: 64px;
  height: 64px;
  opacity: 0.4;
  box-shadow: 29px 37px 39px rgba(93, 134, 194, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: rotate(0);
}

.container:hover .bg {
  animation: rotate 300ms forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-45deg);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 57px;
  background: linear-gradient(180deg, #36A0FF 0%, #36F0FF 100%);
  border: 1px solid #E5E8EB;
  box-shadow: 29px 37px 39px rgba(93, 134, 194, 0.1);
  border-radius: 20px;
}

.name {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1em;
}

.description {
  font-size: 0.85rem;
  line-height: 20px;
}