.container {
  width: 100%;
  max-width: 64em;
  padding: 6em 1em;
}

.mainText {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 48px;
  text-align: center;
  margin-bottom: 1em;
  color: var(--color-faint);
}

.smlContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .smlContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  .smlContainer {
    gap: 2em;
  }
}

@media screen and (max-width: 480px) {
  .mainText {
    font-size: 1.2rem;
  }
}