.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(50, 50, 86, 0.6);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.wrapper {
  width: 100%;
  max-width: 28em;
  height: 24em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  border-radius: 1em;
  color: var(--main-text);
  margin-top: 12vh;
  padding: 2em;
  background: var(--bg-light);
  border: 1px solid #E5E8EB;
  box-shadow: 26px 18px 18px rgba(93, 134, 194, 0.05);
  border-radius: 2em;
  animation: scale 150ms;
}

@keyframes scale {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

.loadingIcon {
  /* animation: rotate 650ms infinite linear; */
  margin-bottom: 4em;
}

.heading {
  font-weight: 700;
  text-align: center;
}

.description {
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 23px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}