:root {
  --color-dark: #2C3857;
  --color-dark-hover: #0d1426;
  --color-light: #FFFFFF;
  --color-faint: #A4A9B6;
  --color-accent: #0CAFFD;
  --color-accent-light: #138ac1;
  --color-accent-dark: #0D99FF;
  --bg-dark: linear-gradient(180deg, #0F96FF 0%, #4640FF 100%);
  --bg-dark-hover: linear-gradient(180deg, #0590fa 0%, #3932fe 100%);
  --bg-light: #FFFFFF;
  --bg-gray: #E5E8EB;
  --card-bg: #F3F4F8;
  --card-bg-accent: #F5F7FC;
  --card-bg-accent-light: #D8ECFF;
  --color-border: #DDDDEB;
  --color-border-dark: #cbcbcb;
  --color-success: #14D3B2;
  --color-error: #F47257;
  --color-info: #0D99FF;
  --color-warning: #FFD100;
  --tooltip-bg: #323256;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 2400px;
  color: #2C3857;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: inherit;
  height: inherit;
  width: 8px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #F1F1F1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: #F1F1F1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A8A8A8;
}